[submodule "c/GenericMakefile"]
	path = c/GenericMakefile
	url = https://github.com/MayuriNFC/GenericMakefile.git

[submodule "cmake/examples"]
	path = cmake/examples
	url = https://github.com/ttroy50/cmake-examples.git
