<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
    <!-- 引入Material Design所需的CSS和JS文件 -->
    <link rel="stylesheet" href="../../../../public/static/css/materialize.css">
    <link rel="stylesheet" href="../../../../public/static/css/icon.css">
    <link rel="stylesheet" href="../../../../public/static/css/style.css">
    <script src="../../../../public/static/js/jquery.main.js"></script>
    <script src="../../../../public/static/js/materialize.js"></script>
</head>

<body>
    <div class="container">

        <h3>信息管理系统</h3>
        <button class="btn waves-effect waves-light" onclick="location.href='login.html'">登录</button>
        <button class="btn waves-effect waves-light" onclick="location.href='register.html'">注册</button>

</body>

</html>